<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.atteheino.mediashuffler.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="fi.atteheino.mediashuffler.app.BrowserActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="fi.atteheino.mediashuffler.app.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- service android:name="org.teleal.cling.android.AndroidUpnpServiceImpl"/ -->
        <service android:name="fi.atteheino.mediashuffler.app.BrowserUpnpService" />

        <activity
            android:name="fi.atteheino.mediashuffler.app.SourceFolderSelectActivity"
            android:label="@string/title_activity_source_folder_select"
            android:parentActivityName="fi.atteheino.mediashuffler.app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <service android:name="org.teleal.cling.android.AndroidUpnpServiceImpl" />

        <!--
            Because android:exported is set to "false",
            the service is only available to this app.
        -->
        <service
            android:name=".service.DownloadService"
            android:exported="false" />


        <activity
            android:name="fi.atteheino.mediashuffler.app.ShuffleActivity"
            android:label="@string/title_activity_shuffle"
            android:parentActivityName="fi.atteheino.mediashuffler.app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
